.slider__header {
    @include font(900, 5.4rem, 120%);
    max-width: 64.1rem;
    letter-spacing: -0.04em;
    margin-bottom: 2.1rem;
    

    strong {
        display: block;
        font-weight: 900;
    }
}

@media (max-width: 48em) {
    .slider__header {
        @include font(500, 3.4rem, 120%);
        letter-spacing: 0;
        margin-bottom: 2.1rem;
    }
}
