.cart__wrap {
    min-height: 54.5rem;
    width: 28.1rem;
    @include centered;
    justify-content: flex-start;
    flex-direction: column;
    flex-shrink: 0;
    text-align: center;
}

@media (min-width: 48em) {
    .cart__wrap {
        &:hover {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, 0);
            z-index: 10;

            width: 33rem;
            border: 0.1rem solid #F3F4F7;
            background-color: #FFFFFF;
            box-shadow: 0 2rem 5.2rem -0.8rem rgba(0, 0, 0, 0.15);
            border-radius: 1.6rem;
            padding-bottom: 4.7rem;
            padding-top: 3.1rem;

            & .cart__button {
                display: block;
            }
            .cart__img {
                margin-bottom: 5.8rem;
            }
        }
    }
}

@media (max-width: 48em) {
    .cart__wrap {
        max-width: 27.8rem;
        justify-content: space-around;
    }
  }