.facts {
    .title {
        padding-bottom: 2.5rem;
        padding-top: 1.3rem;
    }
}

@media (max-width: 48em) {
    .facts {
        .title {
            padding-bottom: 2.8rem;
        }
    }
}