.drive__button--color {
    color: #FFFFFF;
    background: #0074D4;
    box-shadow: 0 4.3rem 5.1rem rgba(0, 116, 212, 0.2), 0 1.29632rem 1.5375rem rgba(0, 116, 212, 0.241), 0 0.538427rem 0.638599rem rgba(0, 116, 212, 0.15), 0 0.194738rem 0.230969rem rgba(0, 116, 212, 0.059);
    border-radius: 0.8rem;

    &:hover {
        background-color: #2b3350;
    }
}

@media (max-width: 48em) {
    .drive__button--color {
        border-radius: 1.6rem;
        &:hover {
            background: #0074D4;
        }
    }
}