.header__link {
  @include font (500, 1.6rem, 140%);

  &:not(:nth-child(1)),
  &:not(:nth-child(2)) {
    margin-right: 3.4rem;
  }
  &:not(:nth-child(3)),
  &:not(:nth-child(4)) {
    margin-right: 3.2rem;
  }

  &:hover {
    text-decoration:underline;
  }
}