.slider__slide {
    height: 64rem;
    padding-top: 11.6rem;
    padding-bottom: 13.1rem;
}

@media (max-width: 48em) {
    .slider__slide {
        padding-top: 4.6rem;
        height: 34.4rem;
    }
}