.slider__arrow {
    width: 5rem;
    height: 5rem;
    @include centered;

    img {
        width: 0.8rem;
        height: 1.4rem;
    }
}

@media (max-width: 48em) {
    .slider__arrow {
        display: none;
    }
}