.cart__coin-old {
    @include font(700, 2rem, 140%);
    letter-spacing: -0.05em;
    position: relative;
    top: 0.4rem;
}

@media (max-width: 48em) {
    .cart__coin-old {
        @include font(700, 3.4rem, 140%);
        top: -1.5rem;
    }
  }