.form__wrapper {
    position: relative;
    width: 180rem;
    margin: 0 auto;
    padding-top: 13.6rem;
    padding-bottom: 9.3rem;
}

@media (max-width: 48em) {
    .form__wrapper {
        width: 100%;
        padding-top: 13.3rem;
        padding-bottom: 10rem;
    }
}