.drive__description {
    @include font(400, 1.9rem, 160%);
    max-width: 57.8rem;
    margin-bottom: 3.1rem;

    max-height: 10rem;
    overflow: auto;
}

@media (max-width: 48em) {
    .drive__description {
        max-width: 57.6rem;
        max-height: 50rem;
        @include font(400, 2.8rem, 160%);
        margin-bottom: 4.4rem;
    }
  }