.active {
    display: flex;
  }
  
.noscroll {
    overflow: hidden !important;
    height: 100% !important;

    & .header {
        // position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 100;
      }
}

.just-validate-error-label {
  margin-top: 0.5rem;
  font-size: 1.3rem;
  font-weight: 700;
}