.header-logo--wrap {
  width: 18.4rem;
  margin-top: 0.42rem;
}

@media (max-width: 48em) {
  .header-logo--wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 26.6rem; 
    margin-top: 0rem;
  }
}